.titulo {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.login{
    background-color: white;
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.table{
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
}

h5{
    text-align: center;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    color: rgb(139 69 19);
}